<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
      <div class="col-sm-7 pull-right">
        <div class="well">
          <% if flash[:error] %>
          <%= flash[:error] %>
          <% end %>
          <h4>Review this product:</h4>
          <%= form_for [@product, Review.new] do |form| %>
            <div class="form-group">
              <%= form.label :rating %>
              <%= form.select :rating, (1..5) %>
            </div>
            <div class="form-group">
              <%= form.label 'Review:' %>
              <%= form.text_field :description, class: 'form-control' %>
            </div>

            <%= form.submit 'Create Review', class: 'btn btn-primary' %>
          <% end %>
        </div>

        <div>
          <% if @product.reviews.count > 0 %>
            <h4>Product Reviews:</h4>
            <% @product.reviews.reverse_each do |review| %>

              <div class="review">
                <div class="author"><%= review.user.first_name %></div>
                <div class="date"><%= review.created_at.strftime("%B %d, %Y") %></div>
                <div class="rating">
                  <% review.rating.to_i.times do |i| %>
                    <div class="stars glyphicon glyphicon-star"></div>
                  <% end %>
                </div>
                <% if review.description.length > 1 %>
                  <div class="description well"><%= review.description %></div>
                <% end %>
              </div>

            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </article>

</section>
</section>
